{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/31229c0b65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css" type="text/css">
    <title>Login</title>
</head>
<body>
<!-- Criando sessão login -->

<div class="pagina">    
<div class="corpo login">
    <h2>Log-in</h2>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" placeholder="E-mail ou Usuário" name="usuario" id="usuario">
        <input type="password" placeholder="Senha" name="senha" id="senha">
        <input type="submit" value="Acessar">
    </form>
</div><!-- Fim da sessão login -->
</div>
</nav>
</body>
</html>